In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_excel('Main.xlsx' ,engine='openpyxl')

In [7]:
df.describe()

,Illiterate,Graduate & above,Total - Population,Percentage Illiterate,Percentage Graduate & above
count,3.500000e+01,3.500000e+01,3.500000e+01,35.000000,35.000000
mean,7.678103e+06,1.075194e+06,3.459586e+07,20.101981,3.483161
std,1.133721e+07,1.399289e+06,4.445234e+07,5.762072,1.661141
min,8.337000e+03,1.482000e+03,6.447300e+04,11.176535,1.454525
25%,3.098615e+05,5.948800e+04,1.421136e+06,16.076337,2.333452
50%,3.378518e+06,5.253010e+05,1.678794e+07,19.405567,3.073549
75%,1.036886e+07,1.596484e+06,6.076749e+07,24.170387,4.106503
max,5.422576e+07,5.741485e+06,1.998123e+08,33.460356,8.648065